body {
    background-color: #eee;
}

.mainHeaderFooter {
    background-color: #85763A;
    border-radius: 0;
}

#mainTitle {
    color: white !important;
    font-size: 36px;
}

.articleName {
    color: #784132;
}

.mainFooterText {
    color: white;
    font-size: 12px;
}

.mainFooterLink {
    color: #9fcdff;
}

.active {
    background-color: #888 !important;
    border-radius: 0;
}

.mainTopMenu {
    color: #fff;
    background-color: #784132;
    border-radius: 0;
}
.mainLink:hover{
    background-color :#ddd !important;
    color: #777 !important;
}
.mainLink{
    color: #666 !important;
}