<!doctype html>
<html lang="sk">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
    {#<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">#}
    {#<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">#}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/rowreorder/1.2.5/css/rowReorder.dataTables.min.css">

    {#Zatial navrh novej temi#}
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-blue.min.css"/>
    <title>{% block title %}Chyby stromov{% endblock %}</title>
    {% block topJavascript %}{% endblock %}
    {% block stylesheets %}{% endblock %}
</head>
<body>
<div class="mdl-layout__container">
    <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header has-drawer is-upgraded is-small-screen">
        <header class="demo-header mdl-layout__header is-casting-shadow" style="background-color: #85763A">
            {% if app.user %}
                <div class="mdl-layout__header-row">
                    <span class="mdl-layout-title">Choroby a chyby dreva</span>
                    <div class="mdl-layout-spacer"></div>
                    <header class="demo-drawer-header">
                        <div class="demo-avatar-dropdown">
                            <button id="accbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect "
                                    style="color: aliceblue">
                                <span class="ripple-container">
                                    {{ app.user.uuid }}
                                <i class="material-icons">arrow_drop_down</i>
                                </span>
                            </button>
                            <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect"
                                for="accbtn">
                                <li class=""><a class="mdl-menu__item" style="color: #000;"
                                                href="{{ path('change_password') }}">Zmena hesla
                                    </a></li>
                                <li class=""><a class="mdl-menu__item" style="color: #000;"
                                                href="{{ logout_url() }}">Odhlásiť
                                    </a></li>
                            </ul>
                        </div>
                    </header>
                </div>
            {% endif %}
        </header>
        {% if is_granted('ROLE_USER') %}
            <div class="demo-drawer mdl-layout__drawer">

                <nav class="demo-navigation mdl-navigation">
                    {% if is_granted('ROLE_ADMIN') %}
                        <a class="mdl-navigation__link " href="{{ path('admin_home') }}"><i
                                    class="material-icons" role="presentation">add_circle</i> Články</a>
                        <a class="mdl-navigation__link" href="{{ path('admin_menu') }}"><i
                                    class="material-icons sideMenuPadding"
                                    role="presentation">format_list_bulleted</i> Menu</a>
                    {% endif %}
                </nav>
            </div>
        {% endif %}
        <main class="mdl-layout__content">
            <div class="mdl-grid demo-content">
                {% block content %}{% endblock %}
            </div>
        </main>
    </div>
</div>
</body>
{% block modals %}{% endblock %}
<script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf8"
        src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script src="https://cdn.datatables.net/rowreorder/1.2.5/js/dataTables.rowReorder.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
{% block javascripts %}{% endblock %}
</body>
</html>