{% extends 'admin/base.html.twig' %}
{% if form.vars.value.id == 0 %}
    {% set title="Nové menu" %}
{% else %}
    {% set title="Upraviť upraviť menu" %}
{% endif %}
{% block pageTitle %}
    {{ title }}
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <h2 class="pageName">{{ title }}</h2>
            <div class="col-md-12 upperLine">
                <div class="card mt-4">
                    <div class="card-header">
                        {{ title }}
                    </div>
                    <div class="card-body">
                        {{ form_errors(form) }}
                        {{ form(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}