{% extends 'admin/base.html.twig' %}
{% if form.vars.value.id == 0 %}
    {% set title="Nový článok" %}
{% else %}
    {% set title="Upraviť článok" %}
{% endif %}
{% block pageTitle %}
    {{ title }}
{% endblock %}
{% block stylesheets %}{% endblock %}
{% block topJavascript %}
    <script src="https://cdn.ckeditor.com/4.11.1/standard/ckeditor.js"></script>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <h2 class="pageName">{{ title }}</h2>
            <div class="col-md-12 upperLine">
                <div class="card mt-4">
                    <div class="card-header">
                        {{ title }}
                    </div>
                    <div class="card-body">
                        {{ form_errors(form) }}
                        {{ form(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% block javascripts %}
        <script>
            CKEDITOR.replace( 'edit_article[article]' );
        </script>
    {% endblock %}
{% endblock %}