{% extends 'admin/base.html.twig' %}
{#{% import "macros.twig" as macros %}#}
{% block pageTitle %}Menu{% endblock %}
{% block contentTitle %}Menu{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <h2 class="pageName">Menu</h2>
            <div class="col-md-12 upperLine">
                <a href="{{ path('edit_menu') }}" class="btn btn-success float-right addButton">
                    <i class="fa fa-plus-circle sideMenuIcon"></i> Nové menu
                </a>
                <div class="box-body">
                    <table id="table-users" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Názov</th>
                            <th>Nadradené menu</th>
                            <th>&nbsp;</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for menu in menus %}
                            <tr>
                                <td>
                                    {{ menu.id }}
                                </td>
                                <td>
                                    {{ menu.name }}
                                </td>
                                <td>
                                        {{ menu.menuParent.name | default("Toto menu nemá nadradené menu")}}
                                </td>
                                <td>
                                    <div class="btn-group ">
                                        <button type="button" class="btn dropdown-toggle bg-light"
                                                data-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="false">Možnosti
                                        </button>
                                        <div class="dropdown-menu options">

                                            <a class="dropdown-item btn btn-info"
                                               href="{{ path('edit_menu', {'menuId':menu.id}) }}">
                                                <i class="fa fa-edit sideMenuIcon"></i> Upraviť menu
                                            </a>
                                            <button
                                                    class="dropdown-item btn btn-danger"
                                                    onclick="confirm('Odstrániť položku menu {{ menu.name }}?') ? window.location='{{ url('delete_menu', {menuId:menu.id}) }}' : false">
                                                <i class="fa fa-trash sideMenuIcon"></i> Odstrániť položku menu
                                            </button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

    {% block javascripts %}
        <script>
            $(document).ready(function () {
                var table = $('#table-users').DataTable({
                    "language": {
                        "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Slovak.json",
                    },
                    rowReorder: {
                        selector: 'td:nth-child(2)'
                    },
                    responsive: true
                });
            });
        </script>
        {{ parent() }}
    {% endblock %}