{% extends 'public/base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}
{% block pageTitle %}{{ article.title }}{% endblock %}
{% block menu %}
    <ul class="nav flex-column nav-pills p-4">
        <li class="nav-item">
            <a class="nav-link mainLink" href="{{ path('home') }}">Domov</a>
        </li>
        <li>{{ menu | raw}}</li>
        {% if app.user %}
            <li class="nav-item">
                <a class="nav-link mainLink" href="{{ logout_url() }}" tabindex="-1">Odhlásiť</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mainLink" href="{{ path('admin_home') }}" tabindex="-1">Administrácia</a>
            </li>
        {% endif %}
    </ul>
{% endblock %}
{% block content %}
    <p>{{ article.article | raw }}</p>
{% endblock %}
