{% extends 'public/base.html.twig' %}

{% block title %}{{ article.title | default('Domovska stránka') }}{% endblock %}
{% block pageTitle %}{{ article.title | default('Domovska stránka') }}{% endblock %}
{% block menu %}
    <ul class="nav flex-column nav-pills p-4">
        <li class="nav-item">
            <a class="nav-link active" href="{{ path('home') }}">Domov</a>
        </li>
        <li>{{ menu | raw }}</li>
        {% if app.user %}
            <li class="nav-item">
                <a class="nav-link" href="{{ logout_url() }}" tabindex="-1">Odhlásiť</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('admin_home') }}" tabindex="-1">Administrácia</a>
            </li>
        {% endif %}
    </ul>
{% endblock %}
{% block content %}
    {% if article.article is defined %}
        <p>{{ article.article | raw }}</p>
    {% else %}
        <p>Na obsahu stránky sa pracuje</p>
    {% endif %}
{% endblock %}
