<!doctype html>
<html lang="sk">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {#<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"#}
    {#integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">#}
    {#<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"#}
    {#integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">#}
    {#<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">#}
    {#<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">#}
    {#<link rel="stylesheet" href="{{ asset('css/sb-admin.css') }}">#}
    {#<link rel="stylesheet" href="{{ asset('css/style.css') }}">#}
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-blue.min.css"/>
    <title>{% block title %}Prihlásenie{% endblock %}</title>
</head>
<body style="color: #aaa">
<div align="center" style="padding-top: 6%">
    <div class="col-md-4 offset-md-4 centeredLogin">
        <div class="demo-card-wide mdl-card mdl-shadow--4dp">
            <div class="mdl-card__title" style="background-color: #7f4c36 ">
                <div class="container">
                    <h3 align="center" style="padding-left: 85%; color: #fff;"></h3>
                    <i class="material-icons" style="font-size: 8em; padding-left: 70%; color: #fff">
                        account_circle
                    </i>
                </div>
            </div>
            <div class="mdl-card__supporting-text">
                {% if error %}
                    <div style="color: red;"><strong>{{ error.messageKey|trans(error.messageData, 'security') }}</strong></div>
                {% endif %}
                <form method="post">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <label class="mdl-textfield__label" id="basic-addon1" for="username" style="color: #666">Prihlasovacie meno</label>
                        <input type="text" class="mdl-textfield__input" id="username"
                               name="uuid"
                               value="{{ last_username }}">
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <label class="mdl-textfield__label" id="basic-addon1" for="password" style="color: #666">Heslo</label>
                        <input type="password" class="mdl-textfield__input" id="password" name="password">
                    </div>
                    <div class="mdl-card__actions">
                        <button type="submit"
                                class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" style="background-color: #e73556">Prihlásiť sa
                        </button>
                    </div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                </form>
            </div>
        </div>
    </div>
</div>
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</body>
</html>