<!DOCTYPE html>
<html lang="sk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=dewice-width, initial-scale=1.0">
    <title>{% block title %}Bakalarska praca{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('css/bootstrap-grid.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('css/bootstrap-reboot.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ asset('css/mainPublic.css') }}" type="text/css">
    {% block stylesheets %}{% endblock %}
</head>
<body>
<header class="modal-header container-fluid mainHeaderFooter">
    <div class="row">
        <img src="{{ asset('logo.svg') }}" class="img-fluid col-md-6" alt="Logo UMB">
        <a class="col-md-6 text-center" id="mainTitle">Choroby a chyby dreva</a>
    </div>
</header>
<main class="container-fluid pb-5">
    <div class="row">
        <h2 class="align-items-center col-sm-12 bg-white py-2 mb-0 articleName">{% block pageTitle %}{% endblock %}</h2>
        <div class="row col-12">
            <div class="col-xs-4 col-sm-3 pr-0 pl-lg-0 pl-sm-0 order-md-0 order-sm-0">
                {% block menu %}
                {% endblock %}
            </div>
            <div class="col-xs-8 col-sm-9 pl-3 p-5 order-md-1 order-sm-1">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</main>
<div class="container-fluid">
    <footer class="fixed-bottom mainHeaderFooter">
        <p class="text-center pt-4 mb-0 mainFooterText">© Copyright 2018 - 2019 Nikola
            Mikušová </p>
        <p class="text-center pt-0 mainFooterText">Pover by <a href="https://symfony.com" class="mainFooterLink"
            >Symfony</a>
        </p>
    </footer>
</div>
<script src="{{ asset('js/bootstrap.js') }}" type="text/javascript"></script>
<script src="{{ asset('js/bootstrap.bundle.js') }}" type="text/javascript"></script>
{% block javascript %}{% endblock %}
</body>
</html>